@import "normalize";
@import "bourbon/bourbon";
@import "neat/neat";

.container {
  @include outer-container
}
.table-set {
  @include fill-parent();
  @include row(table);
}
button {
  border: none;
  appearance: none;
  box-shadow: none;
  background: #FFFFFF;
  padding:18px 69px;

  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;

  font-size: 16px;
  color: #484848;
  letter-spacing: 0.19px;
  line-height: 18px;

  cursor:pointer;
}

.heart {
  height: 15px;
}
nav {
  @include span-columns(5);
  @include pad();
  background-color: #D94272;
  color: white;
}
section {
  @include span-columns(8);
  @include reset-display;
  @include pad();
  background-color: #ECECEC;
}
span.lists{
  background-color: white;
  padding: 5px;
  color: #D94272;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
}
#bliss {
  font-size: 400%;
}
.buttons {
  margin-top: 50%;
}
.wishlist-title {
  width: 50%;
  margin-bottom: 2%;
}
#title-text {
  font-size: 24px;
  color: #484848;
  letter-spacing: 0.29px;
  line-height: 28px;
}

.wishlist-details{
  width: 50%;
  font-size: 16px;
  color: #484848;
  letter-spacing: 0.19px;
  line-height: 18px;
  margin-bottom: 5%;
}
.wishlist-item-container{
  background-color: white;
  border: 1px solid #ececec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.wishlist-item {
}
.product-image {

}
.product-data {

}
.buy-on-amazon {
  /* Rectangle 4: */
  background: #FF88A1;
  border-radius: 11px;
  color: white;
}
